<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344595004120-dkg6s519j457no7c7b8bpssj5cmklds4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344595004120-dkg6s519j457no7c7b8bpssj5cmklds4</string>
	<key>API_KEY</key>
	<string>AIzaSyB40v5fY_KMGDF8vIadTHCgYkjVIYlN2bM</string>
	<key>GCM_SENDER_ID</key>
	<string>344595004120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alkunde.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-mobiletk</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-mobiletk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344595004120:ios:3b0b1d4d84f30d8ee535ad</string>
</dict>
</plist>